{{#if shoppingCart.items}}
  {{#each shoppingCart.items as |item|}}
    <ul>
      {{item.name}} -- ${{item.cost}}.00
      <button {{action 'removeFromCart' item}}>Remove Item</button>
    </ul>
  {{/each}}
  <button {{action 'emptyCart' product}}>Empty Cart</button>
  {{else}}
    <h3>There are no items in your cart</h3>
{{/if}}
