
<p>{{product.name}} -- ${{product.cost}}.00</p>

{{# if areDetailsShowing}}
  <p><img src={{product.image}} {{action "hideDetails"}}  alt="" /></p>
  <p><strong>Description:</strong> <br> {{product.description}} </p>
  <p><strong>Shop:</strong> <br> {{product.shop.name}} </p>
  {{else}}
  <p><img src={{product.image}} {{action "showDetails"}}  alt="" /></p>
{{/if}}
<button {{action 'addToCart' product}}>Add to Cart</button>
