<p>{{product.name}}</p>
<p><img src={{product.image}} alt="" /></p>
<p>{{product.description}}</p>
<p>{{product.shop}}</p>
<p>${{product.cost}}.00</p>


<button {{action 'addToCart' product}}>Add to Cart</button>
